*{
font-family: 'Times New Roman', Times, serif;
margin:0px;
padding:0px;
}

.idx_body{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgb(240, 240, 240);
}
    


form{
   width: 55vw;
    height:auto;
    display: flex;
flex-direction:column;
justify-content: center;
align-items:center;;
   color:white;
   margin-top:80px;
  margin-bottom:80px;
  
   
  
}
.idx_login,.register_user{
    
    color:teal;
    font-weight:600;
}

.radio-group{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom:20px;
}

.idx_img {
    width: 180px;     
    height: auto;       
    display: block;
    border-radius:20px;
    
     
}
.idx_img_container{width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom:20px;
    }


.idx_heading1{
margin-top:7px;
font-weight:600;
 margin-bottom:20px;}

fieldset{
   width: 80%;
   height:auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center; 
    border-radius:15px;
    background-color:white;
    border: 2px solid teal;
}


.form-label{
    align-self:flex-start;
    margin-left:45px;
    padding-left:10px;
    font-size:18px;
    font-weight:550;
    color:teal;
    margin-top:5px;
    margin-bottom:0px;
    margin-right:20px;
   } 
input[type="email"],input[type="password"],input[type="name"],input[type="date"],input[type="tel"],input[type="text"]{
    width:80%;
    border-radius:9px;
    background-color:white;
    border:2px solid teal;
    color:teal;
    margin-bottom:8px; 
    padding:7px;
   }
input::placeholder{
       color:teal; 
      opacity:0.9;
}
input[type="radio"] {
    width: auto;
 
    margin-right: 5px;
}
.radio-label {
    font-size: 16px;
    color: teal;
    margin-right: 10px;
    margin-left:10px;
    font-weight: normal;
}

.idx_link{
    color:teal;;font-size:0.88em;
   }

.btn_container {
    display: flex;              
    justify-content: center;  
    align-items:center;
    gap: 10px;                
    margin-top: 10px;         
}

.idx_btn{
   min-width:90px;
      border: none;
      border-radius: 10px;
      height:5vh;
      padding-left:3px; 
      padding-right:3px;
     background-color:teal;
      color:white;
      border: 2px solid teal;
   margin-bottom: 20px;

}
#cancel{
   
    background-color:rgb(169, 79, 79);
    border: 2px solid rgb(169, 79, 79);
    
}
#cancel:hover{
    background-color:darkred;
}
.idx_btn:hover{
    background-color:darkgreen;
}
